@font-face {
    font-family: 'Aveden';
    src: url('Aveden.woff2') format('woff2'),
        url('Aveden.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
