/*.userPopout-2j1gM4 .avatarWrapper-eenWra[data-user-id="859547769798656001"] + div > .profileBadges-2pItdR::before {
  content: "";
  position: relative;
  width: 20px;
  height: 17px;
  margin: 1.5px 6px 0 0;
  pointer-events: none;
  background: url("https://cdn.discordapp.com/emojis/813060332704366642.png?v=1") center/100% no-repeat;
}*/

/*.member-2gU6Ar .wrapper-1VLyxH[data-user-id="859547769798656001"]::before {
  content: "";
  position: absolute;
  width: 18px;
  height: 14px;
  bottom: -3px;
  left: -5px;
  z-index: 2;
  background: url("https://cdn.discordapp.com/emojis/813060332704366642.png?v=1") no-repeat;
  background-size: 85%;
  border-radius: 0 5px 0 0;
  pointer-events: none;
}*/

.message-2CShn3[data-author-id="878107994846560298"]> :not(.repliedMessage-3Z6XBG) .username-h_Y3Us,
.channel-1Shao0[data-user-id="878107994846560298"] .overflow-1wOqNV,
.member-2gU6Ar[data-user-id="878107994846560298"] .username-i5-wv->span,
.userPopout-2j1gM4[data-user-id="878107994846560298"] .username-3JLfHz,
.root-8LYsGj[data-user-id="878107994846560298"] .username-3JLfHz {
  color: transparent !important;
  font-weight: bold;
  background-size: 300%;
  -webkit-background-clip: text;
  -webkit-animation: shine-reversed 5s linear infinite;
  background-clip: text;
  animation: shine-reversed 5s linear infinite;
  background-image: linear-gradient(90deg, rgba(57,255,20,1) 0%, rgba(58,237,45,1) 15%, rgba(59,218,70,1) 30%, rgba(60,195,101,1) 45%, rgba(61,177,126,1) 60%, rgba(62,157,153,1) 75%, rgba(63,136,182,1) 90%, rgba(65,105,225,1) 100%);
}

.message-2CShn3[data-author-id="859547769798656001"]> :not(.repliedMessage-3Z6XBG) .username-h_Y3Us,
.channel-1Shao0[data-user-id="859547769798656001"] .overflow-1wOqNV,
.member-2gU6Ar[data-user-id="859547769798656001"] .username-i5-wv->span,
.userPopout-2j1gM4[data-user-id="859547769798656001"] .username-3JLfHz,
.root-8LYsGj[data-user-id="859547769798656001"] .username-3JLfHz {
  color: transparent !important;
  font-weight: bold;
  background-size: 300%;
  -webkit-background-clip: text;
  -webkit-animation: shine-reversed 5s linear infinite;
  background-clip: text;
  animation: shine-reversed 5s linear infinite;
  background-image: linear-gradient(90deg, rgba(3,237,249,1) 0%, rgba(37,210,238,1) 15%, rgba(72,182,227,1) 30%, rgba(105,156,217,1) 45%, rgba(131,135,209,1) 60%, rgba(163,109,199,1) 75%, rgba(208,74,185,1) 90%, rgba(249,42,173,1) 100%);
}

@-webkit-keyframes shine {
  to {
    background-position: 300% center;
  }
}

@keyframes shine {
  to {
    background-position: 300% center;
  }
}

@-webkit-keyframes shine-reversed {
  to {
    background-position: -300% center;
  }
}

@keyframes shine-reversed {
  to {
    background-position: -300% center;
  }
}