@import url("https://celestialreaver.github.io/BetterDiscord/themes/base/fonts/topazPlus-a1200/TopazPlus_a1200_v1.0.woff2");

:root {
  --font-primary: var(--customFont), "TopazPlus-A1200";
  --font-display: var(--customFont), "TopazPlus-A1200";
}

::placeholder,
body,
button,
input,
select,
textarea {
  font-family: var(--customFont);
}