@import url("https://celestialreaver.github.io/BetterDiscord/themes/base/fonts/topazPlus-a1200/topaz.ttf");

:root {
  --font-primary: var(--customFont), "TopazPlus-a1200";
  --font-display: var(--customFont), "TopazPlus-a1200";
}

::placeholder,
body,
button,
input,
select,
textarea {
  font-family: var(--customFont);
}