@import url("https://celestialreaver.github.io/BetterDiscord/themes/base/fonts/aveden/aveden.woff2");
@import url("https://celestialreaver.github.io/BetterDiscord/themes/base/fonts/firacode/FiraCode-Regular.woff2");

:root {
  --font-primary: var(--customFont), "Whitney";
  --font-display: var(--customFont), "Whitney";
}

::placeholder,
body,
button,
input,
select,
textarea {
  font-family: var(--customFont) !important;
}