@import url(https://celestialreaver.github.io/BetterDiscord/themes/base/discard/specialColors.css);
:root {
  --rs-version: "1.0.1";
}

#app-mount .activityEmoji-SDBJp8 {
  margin-right: 4px;
  width: 14px;
  height: 14px;
  opacity: 100 !important;
  z-index: 3 !important;
}
#app-mount .activityEmoji-24oKjc {
  margin-right: 4px;
  width: 14px;
  height: 14px;
  opacity: 100 !important;
  z-index: 3 !important;
}
#app-mount .activity-icon {
  width: 16px;
  height: 16px;
  margin-left: 2px;
  -webkit-box-flex: 0;
  flex: 0 0 auto;
  z-index: 3 !important;
  opacity: 100% !important;
  color: #fff !important;
}
.activity-2EQDZv {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  user-select: text;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 12px;
  line-height: 16px;
  color: var(--channels-default);
  font-weight: 500;
  text-overflow: ellipsis !important;
  /*overflow: visible !important;*/
  overflow: marquee !important;
  overflow-x: -webkit-marquee !important;
  /*-moz-animation: marquee 15s linear infinite !important;
  -webkit-animation: marquee 15s linear infinite !important;*/
  -webkit-marquee-speed: normal !important;
  /*animation: marquee 15s linear infinite !important;*/
  max-block-size: fit-content !important;
  min-block-size: fit-content !important;
  max-width: fit-content !important;
  min-width: fit-content !important;
  max-inline-size: fit-content !important;
  min-inline-size: fit-content !important;
}
.activityText-1rR-8O {
  -webkit-box-flex: 1 !important;
  -ms-flex: 0 1 auto !important;
  flex: 0 1 auto !important;
  white-space: nowrap !important;
  user-select: text;
  text-overflow: ellipsis !important;
  /*overflow: visible !important;*/
  overflow: marquee !important;
  overflow-x: -webkit-marquee !important;
  /*-moz-animation: marquee 15s linear infinite !important;
  -webkit-animation: marquee 15s linear infinite !important;*/
  -webkit-marquee-speed: normal !important;
  /*animation: marquee 15s linear infinite !important;*/
}
.activityText-1rR-80:hover {
  animation-play-state: paused !important;
  -moz-animation-play-state: paused !important;
  -webkit-animation-play-state: paused !important;
}
.activityText-ev7Z1T {
  -webkit-box-flex: 1 !important;
  -ms-flex: 0 1 auto !important;
  flex: 0 1 auto !important;
  user-select: text;
  white-space: nowrap !important;
  text-overflow: ellipsis !important;
  /*overflow: visible !important;*/
  overflow: marquee !important;
  overflow-x: -webkit-marquee !important;
  /*-moz-animation: marquee 15s linear infinite !important;
  -webkit-animation: marquee 15s linear infinite !important;*/
  -webkit-marquee-speed: normal !important;
  /*animation: marquee 15s linear infinite !important;*/
}

.activityText-ev7Z1T:hover {
  animation-play-state: paused !important;
  -moz-animation-play-state: paused !important;
  -webkit-animation-play-state: paused !important;
}

@-moz-keyframes marquee {
  0% {
    -moz-transform: translateX(100%);
  }
  100% {
    -moz-transform: translateX(-100%);
  }
}
@-webkit-keyframes marquee {
  0% {
    -webkit-transform: translateX(100%);
  }
  100% {
    -webkit-transform: translateX(-100%);
  }
}
@keyframes marquee {
  0% {
    -moz-transform: translateX(100%);
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
  }
  100% {
    -moz-transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
  }
}
@keyframes pulse {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    transform: scale(2);
    opacity: 0;
  }
}
#app-mount .info-3pQQBb .line-18uChy:last-child:after {
  content: "Status Marquee " var(--rs-version);
  display: block;
}