@import url(https://celestialreaver.github.io/BetterDiscord/themes/base/discard/specialColors.css);
:root {
  --rs-version: "1.0.0";
}

#app-mount .activityEmoji-SDBJp8 {
  margin-right: 4px;
  width: 14px;
  height: 14px;
  opacity: 100 !important;
  z-index: 9 !important;
}
#app-mount .activityEmoji-24oKjc {
  margin-right: 4px;
  width: 14px;
  height: 14px;
  opacity: 100 !important;
  z-index: 9 !important;
}
#app-mount .activity-icon {
  width: 16px;
  height: 16px;
  margin-left: 2px;
  -webkit-box-flex: 0;
  flex: 0 0 auto;
  z-index: 9 !important;
  opacity: 100% !important;
  color: #fff !important;
}
.activityText-1rR-8O {
  -webkit-box-flex: 1 !important;
  -ms-flex: 0 1 auto !important;
  flex: 0 1 auto !important;
  white-space: nowrap !important;
  overflow: hidden !important;
  overflow-x: marquee !important;
  text-overflow: ellipsis !important;
  -moz-transform: translateX(100%);
  -webkit-transform: translateX(100%);
  transform: translateX(100%);
  -moz-animation: marquee 30s linear infinite !important;
  -webkit-animation: marquee 30s linear infinite !important;
  animation: marquee 30s linear infinite !important;
  color: var !important;
  width: 250% !important;
}
.activityText-1rR-80:hover {
  animation-play-state: paused !important;
  -moz-animation-play-state: paused !important;
  -webkit-animation-play-state: paused !important;
}
.activityText-ev7Z1T {
  -webkit-box-flex: 1 !important;
  -ms-flex: 0 1 auto !important;
  flex: 0 1 auto !important;
  white-space: nowrap !important;
  overflow: hidden !important;
  overflow-x: marquee !important;
  text-overflow: ellipsis !important;
  -moz-transform: translateX(100%);
  -webkit-transform: translateX(100%);
  transform: translateX(100%);
  -moz-animation: marquee 30s linear infinite !important;
  -webkit-animation: marquee 30s linear infinite !important;
  animation: marquee 30s linear infinite !important;
  color: var !important;
  width: 250% !important;
}
.activityText-ev7Z1T:hover {
  animation-play-state: paused !important;
  -moz-animation-play-state: paused !important;
  -webkit-animation-play-state: paused !important;
}
@-moz-keyframes marquee {
  0% {
    -moz-transform: translateX(100%);
  }
  100% {
    -moz-transform: translateX(-100%);
  }
}
@-webkit-keyframes marquee {
  0% {
    -webkit-transform: translateX(100%);
  }
  100% {
    -webkit-transform: translateX(-100%);
  }
}
@keyframes marquee {
  0% {
    -moz-transform: translateX(100%);
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
  }
  100% {
    -moz-transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
  }
}
@keyframes pulse {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    transform: scale(2);
    opacity: 0;
  }
}
#app-mount .info-3pQQBb .line-18uChy:last-child:after {
  content: "Status Marquee " var(--rs-version);
  display: block;
}