/**
* @name Synthwave '84
* @author CelestialReaver#0001
* @description Synthwave '84 theme. Get that retro vibe and glow.
* @invite rpaa
* @version 1.0.0
* @website https://github.com/CelestialReaver
*/
@import url("https://codedotspectra.github.io/themes/themes-cores/nocturnal.css");
@import url('https://discordstyles.github.io/RadialStatus/dist/RadialStatus.css');
:root {
--mainColor: #626068;
--backgroundColor01: #262335;
--backgroundColor02: #241b2f;
--gradientColor01: #58b68b;
--gradientColor02: #7d047e;
--rs-small-spacing: 2px;
--rs-medium-spacing: 3px;
--rs-large-spacing: 4px;
--rs-small-width: 2px;
--rs-medium-width: 3px;
--rs-large-width: 4px;
--rs-avatar-shape: 50%;
--rs-online-color: #72f1b8;
--rs-idle-color: #f39f0575;
--rs-dnd-color: #fc1f2c75;
--rs-offline-color: #393a33;
--rs-streaming-color: #7d047e;
--rs-invisible-color: #393a33;
--rs-phone-visible: block;
}