/**
* @name Synthwave '84
* @version 1.0.1
* @description A clean retro theme that provides the perfect glow and vibe to your Discord.
* @author CelestialReaver
* @authorId 859547769798656001
* @buymeacoffee https://www.buymeacoffee.com/celestialreaver
* @source https://github.com/CelestialReaver/BetterDiscord/tree/main/themes/Synthwave84
* @website https://github.com/CelestialReaver
* @updateUrl https://celestialreaver.github.io/BetterDiscord/themes/Synthwave84/Synthwave84.theme.css
*/
@import url("https://celestialreaver.github.io/BetterDiscord/themes/Synthwave84/css/source.css");

:root {
  --mainColor: #03edf9;
  --backgroundColor01: #2a2139;
  --backgroundColor02: #241b2f;
  --gradientColor01: #36f9f6;
  --gradientColor02: #f92aad;
  --rs-small-spacing: 2px;
  --rs-medium-spacing: 3px;
  --rs-large-spacing: 4px;
  --rs-small-width: 2px;
  --rs-medium-width: 3px;
  --rs-large-width: 4px;
  --rs-avatar-shape: 50%;
  --rs-online-color: #72f1b8;
  --rs-idle-color: #fede5d;
  --rs-dnd-color: #fe4450;
  --rs-offline-color: #b6b1b1;
  --rs-streaming-color: #643da7;
  --rs-invisible-color: #b6b1b1;
  --rs-phone-visible: block;
  --rs-phone-color: var(--rs-online-color);
}
