/**
* @name Synthwave '84
* @version 1.0.0
* @description Synthwave '84 theme. Get that retro vibe and glow.
* @author CelestialReaver
* @authorId 859547769798656001
* @invite rpaa
* @source https://github.com/CelestialReaver/BetterDiscord/tree/main/themes/Synthwave84
* @website https://github.com/CelestialReaver
* @updateUrl https://celestialreaver.github.io/BetterDiscord/themes/Synthwave84/Synthwave84.theme.css
*/
@import url("https://celestialreaver.github.io/BetterDiscord/themes/Synthwave84/css/source.css");

:root {
  --mainColor: #f92aad;
  --backgroundColor01: #2a2139;
  --backgroundColor02: #251735;
  --gradientColor01: #72f1b8;
  --gradientColor02: #fede5d;
  --rs-small-spacing: 2px;
  --rs-medium-spacing: 3px;
  --rs-large-spacing: 4px;
  --rs-small-width: 2px;
  --rs-medium-width: 3px;
  --rs-large-width: 4px;
  --rs-avatar-shape: 50%;
}
